h1{
    color:whitesmoke;
    text-align: center;
}
body{
    background: linear-gradient(to right, #243B55, #141E30);     
}
.links{
    color:whitesmoke;
    margin-right: 50px;
}
p{
    font-size:x-large;
    color:wheat;
    text-align: center;
}
/* #pitch{
    margin-top:20%;
} */

nav {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navright{
    margin-left: 50px;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);

    
}
.navright:hover{
    background-color: blue;
}
nav a{
    color: white;
    text-decoration: none;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
nav a:hover{
    text-decoration: none;
    background-color: red;
    color: white;
}
#profile{
    margin-left:10%;
}
#sign{
    margin-left:300px;
}
h2{
    color:whitesmoke;
}
.center{
    text-align: center;
}
