{% extends 'base.html'%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">

{% endblock %}


{% block content %}

<h1>WELCOME TO ONE MINUTE PITCH</h1>
<p>An application that enables one to chose the pitch they want.</p>
<br>
<p>Please select a your pitch:</p>
<br><br>
<div class="links">
      <a class="btn btn-danger"href="/pitch/promotion pitch"> Pickup lines</a>
      <a class="btn btn-danger"href="/pitch/interview pitch"> Interview pitch</a>
      <a class="btn btn-danger"href="/pitch/product pitch"> Product pitch</a>
      <a class="btn btn-danger"href="/pitch/promotion pitch"> Promotion pitch</a>
</div>

{% endblock%}